html, body { 
    background-color: #95a5a6; 
}

p{
    font-size: 20px;
    font-family: "Times New Roman", Times, serif;
    padding-left:20px;
    padding-right:20px;
}
.container-fluid{
    padding-top: 10px;
    background-color: #95a5a6: 
}
.row1{
    background-color: black;
    padding: 20px;
    padding-bottom: 20px;
}

.row{
    background-color: black;
    padding: 20px;
}
dt{
    padding-left: 20px;
    font-size: 20px;
}

span.sidenavbutton{
    color:white;
}
h3{
    font-size: 26px;
    text-align: center;
    font-family: "Tahoma", Geneva, sans-serif;
}

p.partitle{
    font-size: 26px;
    font-family: "Tahoma", Geneva, sans-serif;
    padding-left: 20px;
}

li, br, table{
    font-size: 20px;
    font-family: "Times New Roman", Times, serif;
    text-indent: 30px;
    
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover, .offcanvas a:focus{
    color: #ffffff;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
.mySlides{
    border-radius: 100px;
}
